button {
  background-color: transparent;
  padding: 10px 25px;
  color: #0d8ac7;
  border-radius: 100px;
  border: 2px solid #0d8ac7;
  font-weight: 700;
  font-size: .85rem; }
  button:focus {
    outline: none; }

ul {
  display: flex;
  list-style: none; }
  ul li {
    padding: 0 10px;
    font-size: .85rem; }

.header--desktop {
  display: none; }

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif; }

.card img {
  width: 100%; }
